[project]
	description = Android/bionic port of busybox
[access "refs/*"]
	owner = group user/hezishah (hezishah)
[access "refs/for/refs/*"]
	read = group user/hezishah (hezishah)
	push = group user/hezishah (hezishah)
	label-Code-Review = -2..+2 group user/hezishah (hezishah)
	label-Verified = -1..+1 group user/hezishah (hezishah)
	rebase = group user/hezishah (hezishah)
	removeReviewer = group user/hezishah (hezishah)
	submit = group user/hezishah (hezishah)
[access "refs/heads/*"]
	read = group user/hezishah (hezishah)
	create = group user/hezishah (hezishah)
	push = +force group user/hezishah (hezishah)
	pushMerge = group user/hezishah (hezishah)
[access "refs/tags/*"]
	push = +force group user/hezishah (hezishah)
	pushTag = group user/hezishah (hezishah)
	pushSignedTag = group user/hezishah (hezishah)
